.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 16px;
    padding: 8px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }